### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#excluded
!/web/WEB-INF/util/


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


### NetBeans ###
nbproject/private/
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml

### Web ###
*.asp
*.cer
*.csr
*.css
*.htm
*.html
*.js
*.jsp
*.php
*.rss
*.xhtml

